# Ignore these files below
jupyter-notebook-helper/.ipynb_checkpoints/p1-juptyter-helper-checkpoint.ipynb
jupyter-notebook-helper/.ipynb_checkpoints/p2-jupyter-helper-checkpoint.ipynb
jupyter-notebook-helper/.ipynb_checkpoints/p3-jupyter-helper-checkpoint.ipynb
jupyter-notebook-helper/.ipynb_checkpoints/p4-jupyter-helper-checkpoint.ipynb
jupyter-notebook-helper/.ipynb_checkpoints/p5-jupyter-helper-checkpoint.ipynb
jupyter-notebook-helper/.ipynb_checkpoints/p6-jupyter-helper-checkpoint.ipynb
jupyter-notebook-helper/.ipynb_checkpoints/p7-jupyter-helper-checkpoint.ipynb
.ipynb_checkpoints/
